pre-commit>=2.19.0
flake8>=5.0.0
black>=22.6.0
mypy>=0.971
isort>=5.10.1

flake8-return
flake8-builtins
flake8-simplify
flake8-functions
flake8-annotations
flake8-unused-arguments
wemake-python-styleguide
flake8-cognitive-complexity
flake8-expression-complexity
flake8-annotations-complexity
